/* *{ 
    border:  1px solid rgb(255, 0, 115) ;
 }
 
 body{
     border: 1px dashed rgb(21, 0, 255) ;
 }  */

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0D1321;
}
 /* title style */
.nav-title{
    display: flex;
    justify-content: space-between;
}
.Awlad{
    font-weight: 900;
    font-size: 28px;
    color: #0D1321;
    margin: 50px 150px;
}

.nav-resume{
    margin: 38px 150px;
    padding: 17px 24px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
}
/* banner styles */
.nav-banner{
    background-image: url('../assets/Hero-bg.png');
    background-size: 1440px 652px ;
    padding: 26px 221px 45px 221px;
    text-align: center;
}

  .nav-head{
   font-weight: 900;
   font-size: 48px;
   line-height: 68px;
   color: #0D1321;
   /* width: 998px; */
  }
nav p {
    margin-left: 294px;
    margin-right: 294px; 
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.banner-btn{
    padding: 21px 24px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    background-color: #0D1321;
    color: white;
    width: 224px;
    height: 65px;
}
/* main styles  */

/* why web style  */
.title{
    color: #0D1321;
    font-weight: 900;
    font-size: 32px;
}
.web-title{
    text-align: center;
   padding: 0px 47px 48px 47px ;
}
 .why-web{
padding: 80px 97px;
margin: 74px 152px 90px 148px ;}


.web-text-img{
display: flex;
justify-content: space-between;
padding: 48px;
 border: 1px solid lightgray;
 background-color: rgb(252, 236, 234);
}

 
 .gap{
    margin: 32px 0 ;
    gap: 24px;
 }
 .btn{
    opacity: 70%;
    color: #0D1321;
    padding: 12px 20px;
 }
 .title-discription{
    text-align: center;
    margin-bottom: 48px;
    margin-top: 0px;
 }
 .center{
   text-align: center;
 }
 .section{
   margin: 74px 152px 90px 148px ;
    text-align: center;
 }
 .video{
    padding: 32px;
    
 }
 .video-corner{
    border-radius: 16px;
 }
 /* target styles */
 .target{
   display: flex;
    gap: 24px;
    text-align: center;
 }
 .target-class{
 padding: 40px;
 border: 1px solid lightgray;
 background-color: rgb(252, 236, 234)

}
 
 .target-head{
    font-weight: 900;
    font-size: 24px;
    color: #0D1321;
 }
 .target-ancor{
    color: #0D1321;
    font-weight: 800;
    font-size: 16px;
 }

  /* next target style */
 .next-class{
    display: flex;
    padding: 40px;
    gap: 24px;
    border: 1px solid lightgray;
    background-color: rgb(252, 236, 234)
 }

  .img-target{
    margin: 50px 0;
 }
  p{
   margin-bottom: 24px;

  }
  /* main footer styles */
  .main-footer{
   text-align: center;
  }
  .main-footer{
   background-image: url("../assets/handshake.jpg");
   
   border-radius: 16px;
   
  
  }
  .main-footer-description{
   color: white;
  }
  #main-foot-description{
 color: white;
 opacity: 70%;
  }
  .input{
   padding: 19px 225px 19px 20px ;
  }
  .submit{
   padding: 17px 20px;
  }

  .footer{
   display: flex;
   justify-content: space-between;
  }